.settings-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.72);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30000;
}

.settings-modal{
    overflow: visible;
}

.backup-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.72);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30000;
}

.eula-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.78);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50000;
}

.server-init-modal{
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.78);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 49000;
}