<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OxOcraft-Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/death_book.css') }}">
</head>
<body>

    <div id="globalFeatureCard" class="global-feature-card hidden"></div>
    <div id="globalFeatureButtonHost" class="global-feature-button-host hidden"></div>


    <div id="serverInitModal" class="server-init-modal hidden">
        <div class="server-init-panel">

            <div class="server-init-title">
                Minecraft 初次設定
            </div>

            <div class="server-init-text">
                尚未產生 Minecraft 必要檔案。<br><br>

                第一次啟動 server.jar 後，系統會自動建立：

                <br>• eula.txt
                <br>• server.properties

                <br><br>
                建立完成後，將引導你同意 EULA。
            </div>

            <div class="server-init-actions">
                <button id="serverInitBtn" type="button">
                    產生必要檔案
                </button>
            </div>

        </div>
    </div>


    <div id="eulaModal" class="eula-modal hidden">
        <div class="eula-panel">
            <div class="eula-title">Minecraft 使用者授權合約</div>

            <div id="eulaMessage" class="eula-message">
                讀取中...
            </div>

            <a id="eulaLink" class="eula-link" href="#" target="_blank">
                開啟 Minecraft EULA
            </a>

            <div id="eulaDate" class="eula-date"></div>

            <div class="eula-actions">
                <button id="eulaAcceptBtn" type="button">同意</button>
                <button id="eulaDeclineBtn" type="button">不同意</button>
            </div>
        </div>
    </div>


    {% include "components/server_settings_modal.html" %}
    {% include "components/death_book_modal.html" %}
    {% include "components/backup_modal.html" %}
    


    <div class="container">
        <h1>OxOcraft-Manager</h1>
        <!-- <p class="subtitle">Minecraft Server Log Viewer</p> -->
        <div class="top-actions">
        </div>


        <div id="backgroundTaskBar" class="background-task-bar">
            <button id="backupTaskBtn" class="background-task-btn hidden" type="button">
                <img src="/static/icons/feature_button/backup.png" class="task-icon">
                <svg class="task-progress-ring" viewBox="0 0 40 40">
                    <circle class="ring-bg" cx="20" cy="20" r="17"></circle>
                    <circle id="backupTaskProgressRing" class="ring-progress" cx="20" cy="20" r="17"></circle>
                </svg>
            </button>

            <button id="cloudUploadTaskBtn" class="background-task-btn hidden" type="button">
                <img src="{{ url_for('static', filename='icons/backup/google_drive_64.ico') }}" class="task-icon">
                <svg class="task-progress-ring" viewBox="0 0 40 40">
                    <circle class="ring-bg" cx="20" cy="20" r="17"></circle>
                    <circle id="cloudUploadTaskProgressRing" class="ring-progress" cx="20" cy="20" r="17"></circle>
                </svg>
            </button>

        </div>


        <div class="layout">

            <!-- 左邊功能區 -->
             <div class="side-panel">

                <!-- 其他功能 -->
                <div class="feature-grid">
                    <div class="feature-header">其他功能</div>

                    <div class="feature-list">

                        <div class="feature-item">
                            <button id="deathRecordBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/feature_button/recovery_compass.gif') }}" alt="死亡紀錄">
                            </button>

                            <div class="feature-label">死亡紀錄</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">死亡紀錄</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        紀錄玩家死亡時的位置、死亡原因、攻擊者，以及當時使用的武器或相關資訊。
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="feature-item">
                            <button id="backupBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='img/save.png') }}" alt="備份管理">
                            </button>

                            <div class="feature-label">備份管理</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">備份管理</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        手動備份Minecraft世界資料，查看備份進度與備份紀錄。
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="feature-item">
                            <button id="deathRecordBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/feature_button/slime_icon.png') }}" alt="其他功能3">
                            </button>

                            <div class="feature-label">其他功能3</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">其他功能3</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        其他功能3，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- <div class="feature-item">
                            <button id="deathRecordBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/Recovery Compass.gif') }}" alt="其他功能4">
                            </button>

                            <div class="feature-label">其他功能4</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">其他功能4</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        其他功能4，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <!-- <div class="feature-item">
                            <button id="deathRecordBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/Recovery Compass.gif') }}" alt="其他功能5">
                            </button>

                            <div class="feature-label">死亡紀錄2</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">死亡紀錄2</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        其他功能5，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <!-- <div class="feature-item">
                            <button id="deathRecordBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/Recovery Compass.gif') }}" alt="其他功能6">
                            </button>

                            <div class="feature-label">其他功能6</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">其他功能6</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        其他功能6，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <!-- <div class="feature-item">
                            <button id="deathRecordBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/Recovery Compass.gif') }}" alt="其他功能7">
                            </button>

                            <div class="feature-label">其他功能7</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">其他功能7</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        其他功能7，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <!-- <div class="feature-item">
                            <button id="deathRecordBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/Recovery Compass.gif') }}" alt="其他功能8">
                            </button>

                            <div class="feature-label">其他功能8</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">其他功能8</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        其他功能8，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <!-- <div class="feature-item">
                            <button id="deathRecordBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/Recovery Compass.gif') }}" alt="其他功能9">
                            </button>

                            <div class="feature-label">其他功能9</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">其他功能9</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        其他功能9，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        <!-- <div class="feature-item">
                            <button id="deathRecordBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/Recovery Compass.gif') }}" alt="其他功能10">
                            </button>

                            <div class="feature-label">其他功能10</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">其他功能10</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        其他功能10，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                    </div>
                </div>


                <!-- 一般功能 -->
                <div class="feature-grid">
                    <div class="feature-header">一般功能</div>

                    <div class="feature-list">

                        <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/feature_button/setting.png') }}" alt="伺服器設定">
                            </button>

                            <div class="feature-label">伺服器設定</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">伺服器設定</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        更改伺服器的基本參數：遊戲難度、最大玩家數等...。
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- 功能二預計位置 -->
                        <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/feature_button/slime_icon.png') }}" alt="一般功能2">
                            </button>

                            <div class="feature-label">一般功能2</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">一般功能2</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        一般功能2，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- 功能三預計位置 -->
                        <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/feature_button/slime_icon.png') }}" alt="一般功能3">
                            </button>

                            <div class="feature-label">一般功能3</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">一般功能3</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        一般功能3，開發中...。
                                    </div>
                                </div>
                            </div>
                        </div>


                        
                        <!-- <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/setting.png') }}" alt="伺服器設定">
                            </button>

                            <div class="feature-label">伺服器設定</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">伺服器設定3</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        更改伺服器的基本參數：遊戲難度、最大玩家數等...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                       
                        <!-- <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/setting.png') }}" alt="伺服器設定">
                            </button>

                            <div class="feature-label">伺服器設定</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">伺服器設定3</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        更改伺服器的基本參數：遊戲難度、最大玩家數等...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        
                        <!-- <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/setting.png') }}" alt="伺服器設定">
                            </button>

                            <div class="feature-label">伺服器設定</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">伺服器設定3</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        更改伺服器的基本參數：遊戲難度、最大玩家數等...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        
                        <!-- <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/setting.png') }}" alt="伺服器設定">
                            </button>

                            <div class="feature-label">伺服器設定</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">伺服器設定3</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        更改伺服器的基本參數：遊戲難度、最大玩家數等...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        
                        <!-- <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/setting.png') }}" alt="伺服器設定">
                            </button>

                            <div class="feature-label">伺服器設定</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">伺服器設定3</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        更改伺服器的基本參數：遊戲難度、最大玩家數等...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        
                        <!-- <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/setting.png') }}" alt="伺服器設定">
                            </button>

                            <div class="feature-label">伺服器設定</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">伺服器設定3</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        更改伺服器的基本參數：遊戲難度、最大玩家數等...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                        
                        <!-- <div class="feature-item">
                            <button id="serverSettingBtn" class="feature-btn" type="button">
                                <img src="{{ url_for('static', filename='icons/btn/setting.png') }}" alt="伺服器設定">
                            </button>

                            <div class="feature-label">伺服器設定</div>

                            <div class="feature-hover-card">
                                <div class="feature-title-box">
                                    <div class="feature-title-left"></div>
                                    <div class="feature-title-center"></div>
                                    <div class="feature-title-right"></div>
                                    <div class="feature-title-text">伺服器設定3</div>
                                </div>

                                <div class="feature-desc-box">
                                    <div class="feature-desc-left"></div>
                                    <div class="feature-desc-center"></div>
                                    <div class="feature-desc-right"></div>

                                    <div class="feature-desc-text">
                                        更改伺服器的基本參數：遊戲難度、最大玩家數等...。
                                    </div>
                                </div>
                            </div>
                        </div> -->


                    </div>
                </div>

            </div>
            

           
            <!-- 中間 Log -->
            <div class="panel">
                <div class="panel-header">
                    <div class="status-group">
                        <span id="statusLight" class="status-light {{ 'online' if server_online else 'offline' }}"></span>
                        <span id="statusText">{{ '在線' if server_online else '離線' }}</span>
                    </div>
                    <button id="powerBtn" class="power-btn">⏻</button>
                </div>

                <pre id="logBox">{% if server_online %}{{ logs }}{% endif %}</pre>

                <div class="command-bar">
                    <input id="commandInput" type="text" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" placeholder="輸入Minecraft指令">
                    <button id="sendCommandBtn">送出</button>
                </div>
            </div>

             <!-- 右邊 Players -->
            <div class="players-panel">
                <div class="players-header">Players</div>
                <div id="playersList" class="players-list"></div>
            </div>

        </div>

    </div>


    <script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>