<div id="systemDialog" class="system-dialog hidden">

    <div class="system-dialog-panel">

        <div id="systemDialogTitle"
             class="system-dialog-title">
            標題
        </div>

        <div id="systemDialogMessage"
             class="system-dialog-message">
            內容
        </div>

        <div
            id="systemDialogHelpSections"
            class="system-dialog-help-sections hidden"
        ></div>

        <div class="system-dialog-actions">

            <button id="systemDialogCancelBtn"
                    class="system-dialog-btn cancel">
                取消
            </button>

            <button id="systemDialogConfirmBtn"
                    class="system-dialog-btn confirm">
                確定
            </button>

        </div>

    </div>

</div>