<div
    id="worldSettingsModal"
    class="world-settings-modal hidden"
>
    <div class="world-settings-panel">

        <div class="world-settings-side-tabs">

            <button
                class="world-settings-tab active"
                type="button"
                title="世界"
            >
                <img
                    src="/static/icons/feature_button/grass_block _btn.png"
                    alt=""
                >

                <span>世界</span>
            </button>

        </div>

        <div class="world-settings-main">

            <div class="world-settings-header">

                <div class="world-settings-title">
                    世界設定
                </div>

                <div class="world-settings-summary">
                    目前伺服器使用的世界
                </div>

            </div>

            <div
                id="worldSettingsList"
                class="world-settings-list"
            >
                <div class="world-settings-empty">
                    尚未載入世界資料
                </div>
            </div>

        </div>

    </div>
</div>